
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCustomer</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            Customer Name: <input name="CustomerName" id="Text1" type="text" /> <br />
            Customer Code: <input name="CustomerCode" id="Text1" type="text" /> <br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
