@model HelloWorld.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        CustomerName :- @Model.CustomerName <br />
        CustomerCode :- @Model.CustomerCode
    </div>
</body>
</html>
